---
title: Blog
permalink: /blog/
layout: page
summary: >
  Wherein I write about what I'm learning about work, code, little adventures,
  and side projects.
---

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      {% assign thumbnail_src = post.slug | thumbnail_image_src | remove_first: "assets/" %}
      {% if thumbnail_src != "" %}
        {% picture thumbnail {{ thumbnail_src }} %}
      {% endif %}
      <div class="post-description">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-meta">
          <dl>
            <dt><span class="icon icon-calendar-light">Published</span></dt>
            <dd class="date">{{ post.date | date: "%B %e, %Y"}}</dd>
            <dt><span class="icon icon-tags-light">Tags</span></dt>
            <dd class="tags">
              <ul>
                {% for tag in post.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
              </ul>
            </dd>
          </dl>

          <p class="summary">{{ post.summary }}</p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
