---
title: Projects
layout: page
summary: >
  A portfolio from a variety of recent projects.
---

{% assign projectB = site.projects | where: "slug", "forcepoint" | first %}
{% assign projectA = site.projects | where: "slug", "estimate-to-iterate" | first %}
{% assign portfolio = site.projects | where: "slug", "support-tiers-of-service" | push: projectA | push: projectB %}

<ul class="portfolio-list">
  {% for project in portfolio %}
    <li>
      <div class="main-thumbnail">
        {% assign thumbnail_src = project.slug | thumbnail_image_src | remove_first: "assets/" %}
        {% if thumbnail_src != "" %}
          <a href="{{ project.url | relative_url }}">
            {% picture portfolio_hero {{ thumbnail_src }} %}
          </a>
        {% endif %}
      </div>
      <div class="project-title">
        <h2>
          <a class="post-link" href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
        </h2>
      </div>
      <div class="post-meta">
        <dl>
          <dt><span class="icon icon-calendar-light">Published</span></dt>
          <dd class="date">{{ project.date | date: "%B %e, %Y"}}</dd>
          <dt><span class="icon icon-tags-light">Tags</span></dt>
          <dd class="tags">
            <ul>
              {% for tag in project.tags %}
              <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </dd>
        </dl>
      </div>
      <div class="project-details">
        <p class="summary">{{ project.summary }}</p>
        {% if project.problem %}
          <p class="problem">{{ project.problem }}</p>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

<hr />

<ul class="project-list">
  {% assign projectB = site.posts | where: "slug", "the-hello-worlds-of-christmas" | first %}
  {% assign projectA = site.posts | where: "slug", "travelogue-revisited" | first %}
  {% assign portfolio = site.posts | where: "slug", "the-audience-awakening" | push: projectA | push: projectB %}
  {% for project in portfolio %}
    <li>
      {% assign thumbnail_src = project.slug | thumbnail_image_src | remove_first: "assets/" %}
      {% if thumbnail_src != "" %}
        <a class="post-link" href="{{ project.url | relative_url }}">
          {% picture portfolio_preview {{ thumbnail_src }} %}
        </a>
      {% endif %}
      <div class="project-description">
        <h2>
          <a class="post-link" href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
        </h2>
        <div class="post-meta">
          <dl>
            <dt><span class="icon icon-calendar-light">Published</span></dt>
            <dd class="date">{{ project.date | date: "%B %e, %Y"}}</dd>
            <dt><span class="icon icon-tags-light">Tags</span></dt>
            <dd class="tags">
              <ul>
                {% for tag in project.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
              </ul>
            </dd>
          </dl>

          <p class="summary">{{ project.summary }}</p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
