<header class="site-header">
  <h1><a href="/{{ site.baseurl }}"><span>{{ site.title }}</span></a></h1>

  <nav>
    <ul>
      <li><a href="/blog"{% if page.url contains "/blog" %} class="active"{% endif %}>Blog</a></li>
      <li><a href="/projects"{% if page.url contains "/project" %} class="active"{% endif %}>Projects</a></li>
      <li><a href="/contact"{% if page.url contains "/contact" %} class="active"{% endif %}>Contact</a></li>
      <li><a href="http://www.tsmithphotos.com/?utm_source=tsmithcreative&utm_medium=website&utm_campaign=tsmithcreative">Photos</a></li>
    </ul>
  </nav>
</header>
