/**
 * @file _browser-frame.scss
 * Simple wrapper for browser chrome aronud images or embeds
 */

.browser-frame {

  margin-top: 2em;
  margin-bottom: 2em;

  box-shadow: 0 0 8px rgba(0,0,0,0.25);

  padding: 0;

  @include breakpoint($max-width + 16) {
    margin-left: -(($max-width - $max-lines) / 2);
    margin-right: -(($max-width - $max-lines) / 2);
  }

  .browser-frame-header {
    display: flex;
    flex-wrap: nowrap;

    height: (148px / 2);

    div {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .left {
      flex: 0 1 (600px / 2);
      background-image: url('/gfx/browser-frame-left.png');
    }
    .fill {
      flex: 1 0 auto;
      background-image: url('/gfx/browser-frame-filler.png');
      background-repeat: repeat-x;
    }
    .right {
      flex: 0 1 (288px / 2);
      background-image: url('/gfx/browser-frame-right.png');
    }
  }

  iframe {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
  }
}
