/**
 * @file _home.scss
 * Styles specific to the home page
 */

.home {
  min-height: 100vh;

  // The grey pattern
  background-image: url('/gfx/home-pattern.gif');

  // That 1200px wide is 900px tall, which is actually needed for this image
  // since it's really about the viewport height at this point, but width makes
  // a better test, according to my site's analytics.
  @include breakpoint((min-width 960px) (min-height 800px)) {
    background-image: url('/gfx/home/1200/home-background.jpg');
    background-size: cover;
    background-position: 20% 30%;
  }
  @include breakpoint((min-width 1100px) (min-height 800px)) {
    background-position: 25% 30%;
  }
  @include breakpoint((min-width 1500px) (min-height 800px)) {
    background-image: url('/gfx/home/1600/home-background.jpg');
  }
  @include breakpoint((min-width 1700px) (min-height 800px)) {
    background-image: url('/gfx/home/1800/home-background.jpg');
  }
  @include breakpoint((min-width 2200px) (min-height 800px)) {
    background-image: url('/gfx/home/2400/home-background.jpg');
  }

  .site-header {
    position: static;
  }

  article {
    margin: 2em auto;
    max-width: $max-lines;

      // left: 50%;
      // transform: translateY(-50%) translateX(-50%);

    @include breakpoint((min-width 960px) (min-height 800px)) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-25%);
    }

    @include breakpoint((min-width 960px) (min-height 1100px)) {
      transform: translateY(-90%) translateX(-25%);
    }

    @include breakpoint((min-width 1300px) (min-height 800px)) {
      transform: translateY(-90%) translateX(-30%);
    }

    @include breakpoint((min-width 1600px) (min-height 800px)) {
      transform: translateY(-90%) translateX(-50%);
    }

      // @include breakpoint(1400px) {
      //   top: 45%;
      //   transform: translateY(-45%) translateX(-50%);
      // }
      // @include breakpoint(1800px) {
      //   top: 30%;
      //   transform: translateY(-30%) translateX(-50%);
      // }

    .content {
      background: white;
      border-top: 0.25em solid #ddd;
      border-bottom: 0.25em solid #ddd;
      padding: 0 1em;
    }

    h1 {
      font-family: $tungsten;
      font-size: 4em;
      @include breakpoint(600px) { font-size: 6em; }
      margin: 0;
      color: white;

      span {
        display: inline-block; // To prevent a break in the middle of this line.
      }
    }

    .avatar {
      // flex-basis: calc(25% - 0.5em);
    }

    img {
      display: block;
    }

    p {
      font-family: $gotham;
    }
  }

  .site-footer {
    border-top: 0;

    .copy {
      color: white;
    }

    @include breakpoint(720px) {
      position: absolute;
      bottom: 0;
      width: calc(100% - 4em);
    }
    @include breakpoint(1000px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
