/**
 * @file _home.scss
 * Styles specific to the home page
 */

.home {
  min-height: 100vh;

  // For Todd
  &:before {
    content: " ";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    filter: grayscale(1);
    // The grey pattern
    background-image: url('/gfx/home-pattern.gif');

    // That 1200px wide is 900px tall, which is actually needed for this image
    // since it's really about the viewport height at this point, but width makes
    // a better test, according to my site's analytics.
    @include breakpoint((min-width 720px) (min-height 800px)) {
      background-image: url('/gfx/home/1200/home-background.jpg');
      background-size: cover;
      background-position: left bottom;
    }
    @include breakpoint((min-width 1600px) (min-height 800px)) {
      background-image: url('/gfx/home/1600/home-background.jpg');
    }
    @include breakpoint((min-width 1800px) (min-height 800px)) {
      background-image: url('/gfx/home/1800/home-background.jpg');
    }
  }

  .site-header {
    position: static;
  }

  article {
    margin: 2em;

    @include breakpoint($max-width) {
      max-width: $max-lines;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      @include breakpoint(1400px) {
        top: 45%;
        transform: translateY(-45%) translateX(-50%);
      }
      @include breakpoint(1800px) {
        top: 30%;
        transform: translateY(-30%) translateX(-50%);
      }
      margin: 0 auto;
    }

    .content {
      background: white;
      border-top: 0.25em solid #ddd;
      border-bottom: 0.25em solid #ddd;
      padding: 0 1em;
    }

    h1 {
      font-family: $tungsten;
      font-size: 4em;
      @include breakpoint(600px) { font-size: 6em; }
      margin: 0;
      color: white;

      span {
        display: inline-block; // To prevent a break in the middle of this line.
      }
    }

    .avatar {
      // flex-basis: calc(25% - 0.5em);
    }

    img {
      display: block;
    }

    p {
      font-family: $gotham;
    }
  }

  .site-footer {
    border-top: 0;

    .copy {
      color: white;
    }

    @include breakpoint(720px) {
      position: absolute;
      bottom: 0;
      width: calc(100% - 4em);
    }
    @include breakpoint(1000px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
