/**
 * @file _masthead.scss
 * The header area with the title block for pages and posts
 */

.masthead {
  margin-bottom: 1rem;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAI0lEQVQIWxXHQREAAAyDMGoF/5pqZbvyCgEOQCWboS1Rb1gPlfEJZ9/Nd0IAAAAASUVORK5CYII=');
  margin-bottom: 2rem;

  .wrapper {
    margin-top: 0;
    padding-top: 200px;
    padding-bottom: 2rem;
  }

  h1 {
    display: inline;
    font-family: $tungsten;
    font-weight: lighter;

    color: black;
    background: white;
    font-size: 6rem;
    line-height: 1.35;
    letter-spacing: 1px;

    position: relative;
    left: 10px;
    margin-right: 10px;
    box-shadow: -10px 0 0 white, 10px 0 0 white;
  }

  img {
    display: block;
    width: 100%;

    @include breakpoint($masthead-box) {
      position: absolute;
      z-index: 1;

      &.hero-attach-center {
        top: 50%;
        transform: translateY(-50%);
      }

      &.hero-attach-bottom {
        bottom: 0;
      }
    }
  }
}
