/**
 * @file _media.scss
 * Style for media embeds
 */

p.media {
  // These are paragraphs that wrap only an image tag in a post.
  text-align: center;

  @include breakpoint($max-width + 16) {
    margin-left: -(($max-width - $max-lines) / 2);
    margin-right: -(($max-width - $max-lines) / 2);
  }

  img {
    position: relative;
    border: 4px solid white;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
  }
}

pre.highlight {
  overflow-x: auto;

  @include breakpoint($max-width + 16) {
    margin-left: -(($max-width - $max-lines) / 2);
    margin-right: -(($max-width - $max-lines) / 2);
  }
}
