/**
 * @file _media.scss
 * Style for media embeds
 */

.media {
  // These are paragraphs that wrap only an image tag in a post.
  text-align: center;

  @include breakpoint($max-width + 16) {
    margin-left: -(($max-width - $max-lines) / 2);
    margin-right: -(($max-width - $max-lines) / 2);
  }

  img, video {
    position: relative;
    border: 4px solid white;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    &[src*="noshadow"] {
      border: none;
      box-shadow: none;
    }
  }

  .update &, .collapsed & {
    margin-left: -1em;
    margin-right: -1em;

    img {
      display: block;
      box-shadow: none;
      border: none;
    }

    &:last-child {
      margin-bottom: -1em;
    }
  }
}

.media-n-up {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

  border: 2px solid white;
  box-shadow: 0 0 8px rgba(0,0,0,0.25);

  @include breakpoint($max-width + 16) {
    margin-left: -(($max-width - $max-lines) / 2);
    margin-right: -(($max-width - $max-lines) / 2);
  }

  div {
    flex: 1;
    padding: 2px;
  }

  img {
    display: block;
  }
}

pre.highlight {
  overflow-x: auto;
  font-size: 0.825em;

  @include breakpoint($max-width + 16) {
    li & {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
