/**
* @file _portfolio-list.scss
* Kinda like project-list, but with greater detail since only a few projects
* are listed in the portfolio.
*/
.portfolio-list {
  list-style: none;
  padding: 0;

  > li {
    position: relative;
    overflow: hidden;

    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  .main-thumbnail {
    @include breakpoint(480px) {
      float: left;
      max-width: 40%;
      margin-right: 1em;
    }
  }

  .project-title {
    h2 {
      font-size: 4em;
      font-family: $tungsten;
      font-weight: lighter;
      margin: 0 0 0.125em 0;
    }
  }

  .post-meta, .project-details {
    // Don't wrap around the thumbnail.
    overflow: hidden;
  }

  img {
    display: block;
  }

  dl {
    margin: 1em 0;
  }

  .project-details {
    @include breakpoint(max-width 700px) {
      clear: both;
    }
  }

  .summary {
    font-family: $gotham;
    font-size: 1.25em;
    color: #666;
    margin-bottom: 0;
  }

}
