/**
 * @file _post-meta.scss
 * Provides post header styles seen both on blog posts themselves and also on
 * blog.html's .post-list view.
 */
.post-meta {
  dl {
    font-family: $gotham;
    color: #999;

    dt {
      float: left;
      clear: right;
    }

    dd {
      margin: 0;

      &.date {
        text-transform: uppercase;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      background: #f0f0f0;
      padding: 0 0.25em;
    }
  }
}
