/**
 * @file _project.scss
 * Full display of project items
 */
.project {

  .project-write-up {
    @include breakpoint(780px) {
      float: left;
      width: 60%;
    }
    @include breakpoint($max-width) {
      width: $max-lines;
    }
  }

  .project-details {
    @include breakpoint(780px) {
      float: right;
      width: calc(40% - 1em);
    }
    @include breakpoint($max-width) {
      width: calc(100% - #{$max-lines} - 1em);
    }

    font-family: $gotham;
    color: #999;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 1em;
    }

    strong {
      display: block;
    }
  }
}
