/**
 * @file _site-header.scss
 * Header banner
 */

.site-header {
  background: #222;
  border-bottom: 1px solid black;
  padding: 1rem;
  width: 100%;

  .home & {
    position: absolute;
    z-index: 1000;
    background: transparent;
    border: none;
  }

  .wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include breakpoint(max-width ($nav-split - 1)) {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  h1 {
    width: 80px;
    margin: 0 auto;
    @include breakpoint($nav-split) {
      margin: 0;
      margin-top: 1rem;
      position: absolute;
    }

    a {
      display: block;
      width: 100%;
      padding-top: 80%;

      background-image: url('/gfx/logo.svg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;

      opacity: 0.5;
      &:hover { opacity: 1; }
    }

    span {
      position: absolute;
      display: block;
      clip: rect(0px 0px 0px 0px);
    }
  }

  nav {
    text-align: center;

    @include breakpoint($nav-split) {
      text-align: right;
      margin-top: -1em;
      margin-bottom: 0.5em;
    }

    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      font-family: $gotham;
      text-transform: uppercase;
      color: #EEE;
      border-top: 0.5em solid transparent;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
      padding: 1.5em 0.5em 1em;

      @include breakpoint($max-lines) {
        padding: 1.5em 1em 1em 1em;
      }

      @include breakpoint(max-width (580px)) {
        &.tsp {
          // This is a separate website with a separate/low-priority focus
          // hide the link on smaller screens before collapsing the nav
          display: none;
        }
      }

      @include breakpoint(max-width ($nav-split - 1)) {
        &.active, &:hover {
          font-weight: bold;
        }
      }

      @include breakpoint($nav-split) {
        &.active {
          border-top-color: #EEE;
        }

        &:hover {
          border-top-color: white;
          text-shadow: 1px 1px 0 rgba(0,0,0,1);
        }
      }
    }
  }
}
