form {
  label {
    display: block;
    font-family: $gotham;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  input, textarea {
    width: 100%;
    margin-bottom: 2em;
    padding: .25em 0;

    &:focus {
      outline: 0;
    }
  }

  input {
    border: 0;
    border-bottom: 1px solid #999;

    &:focus {
      border-bottom-color: #333;
    }
  }

  textarea {
    border: 1px solid #eee;
    border-bottom: 1px solid #999;
    padding: 1em;

    &:focus {
      border-bottom-color: #333;
    }
  }
}

.contact {
  .form-wrapper {
    @media screen and (min-width: 620px) {
      float: left;
      width: 60%;
    }
    @media screen and (min-width: $max-width) {
      width: $max-lines;
    }
  }

  aside {
    @media screen and (min-width: 620px) {
      float: right;
      width: calc(40% - 1em);
    }
    @media screen and (min-width: $max-width) {
      width: calc(100% - #{$max-lines} - 1em);
    }

    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
