@import 'variables';

.site-header {
  background: #111;
  border-bottom: 2px solid black;
  padding: 0.5rem 0;
  width: 100%;

  .home & {
    position: absolute;
    z-index: 1000;
    background: transparent;
    border: none;
  }

  .wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (max-width: $nav-split - 1) {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  h1 {
    width: 80px;
    margin: 0 auto;
    @media (min-width: $nav-split) {
      margin: 0;
      margin-top: 0.75rem;
      position: absolute;
    }

    a {
      display: block;
      width: 100%;
      padding-top: 80%;

      background-image: url('/gfx/logo.svg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;

      opacity: 0.5;
      .home &, &:hover { opacity: 1; }
    }

    span {
      position: absolute;
      display: block;
      clip: rect(0px 0px 0px 0px);
    }
  }

  nav {
    text-align: center;

    @media (min-width: $nav-split) {
      text-align: right;
      margin-top: -0.5em;
      margin-bottom: 0.5rem;
    }

    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;

      &.photos {
        display: none;

        @media screen and (min-width: 480px) {
          display: inline-block;
        }
      }
    }

    a {
      display: block;
      font-family: $gotham;
      text-transform: uppercase;
      color: #aaa;
      border-top: 0.5em solid transparent;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
      padding: 1.5em 0.5em 1em;

      @media (min-width: $max-lines) {
        padding: 1.5em 1em 1em 1em;
      }

      &:hover {
        color: #CCC;
      }

      &.active {
        color: #FFF;
      }

      @media (min-width: $nav-split) {
        &.active {
          border-top-color: #EEE;
        }

        &:hover {
          border-top-color: white;
          text-shadow: 1px 1px 0 rgba(0,0,0,1);
        }
      }
    }
  }
}
