.post-teaser-list {
  max-width: $max-lines;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.post-teaser-mention {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 1rem;

  li {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

// POST TYPES:
.post-standard {}

.post-portfolio,
.post-quicktip,
.post-video {
  border-left: 1px solid #ccc;
}

.post-teaser-type {
  position: absolute;
  overflow: visible;
  top: -0.5rem;
  left: -1.5rem;
  height: 3rem;
  width: 3rem;
  background-color: white;
  border: 0.5rem solid white;

  + .post-teaser-description {
    padding-left: 2rem;
  }
}

.post-teaser-type-eyebrow {
  position: absolute;
  transform-origin: top left;
  transform: rotate(270deg) translateX(-100%) translateY(-50%);
  top: 2rem;
  left: 0;
  padding: 0 1rem;

  background-color: white;
  color: #999;

  font-family: $gotham;
  text-transform: uppercase;
  font-size: 0.875rem;
}

// POST TEASER UI:

.post-teaser-item {
  @extend %clearfix;

  position: relative;
  margin-bottom: 4em;

  a {
    text-decoration: none;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

// For with inline content, the Summary property will still be used,
// above the trimmed short body copy, so make it stand out.
.post-teaser-overview {
  font-family: $gotham;
}

.post-teaser-thumbnail {
  display: block;
  margin-bottom: 1em;

  @media screen and (min-width: 480px) {
    float: left;
    max-width: 33%;
    .post-teaser-description & {
      max-width: calc(33% - 2rem);
    }
    margin: 0 1em 0 0;
  }
}

.post-teaser-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
}

.post-teaser-embed {
  margin: 1rem 0;
  iframe {
    margin: 0;
  }
}
