// Variables
$masthead-box: 420px;
$masthead-banner: 640px;
$masthead-banner-full: 1000px;
$masthead-banner-shorten: 1300px;

$post-two-column: 660px;
$post-meta-two-column: 480px $post-two-column, $masthead-banner-full;

$index-two-column: 860px;

$footer-two-column: $masthead-banner;

$gotham: "Gotham SSm A", "Gotham SSm B", "Century Gothic", Helvetica, Arial, sans-serif;
$archer: "Archer SSm A", "Archer SSm B", Georgia, Times, serif;
$tungsten: "Tungsten Narrow A", "Tungsten Narrow B", "Arial Narrow", Helvetica, Arial, sans-serif;

$nav-split: 530px;
$max-width: 960px;
$max-lines: 680px;

$link: #3957f1;
$link-hover:  lighten($link, 10%);
