{{ define "main" }}
  {{ .Content }}

  <ul class="post-teaser-list">
    {{ range .Paginator.Pages }}
      {{ $thumbnail := .Resources.GetMatch "thumbnail.*" }}

      <li class="post-teaser-item">
        {{ if $thumbnail }}
          <a href={{ .Permalink }} class="post-teaser-thumbnail">
            {{ with $thumbnail }}
              <img src="{{ .Permalink }}" width="{{ .Width }}" height="{{ .Height }}" />
            {{ end }}
          </a>
        {{ end }}

        <div class="post-teaser-description">
          <h2><a  href={{ .Permalink }}>{{ .Title }}</a></h2>
          {{ .Summary }}

          <header class="post-meta">
            <dl>
              {{ if .Date }}
                <dt><span className="icon icon-calendar-light">Published</span></dt>
                <dd className="date">{{ .Date | time.Format ":date_long" }}</dd>
              {{ end }}

              {{ if .Params.citation }}
                <dt><span className="icon icon-penpaper-light">Appears On</span></dt>
                <dd className="citation"><a href="{{ index .Params.citation 1 }}"></a>
                  {{ index .Params.citation 0 }}
                </a></dd>
              {{ end }}

              {{ if (.GetTerms "tags") }}
                <dt><span className="icon icon-tags-light">Tags</span></dt>
                <dd className="tags">
                  <ul>
                    {{ range (.GetTerms "tags") }}
                      <li>{{ .LinkTitle }}</li>
                    {{ end }}
                  </ul>
                </dd>
              {{ end }}
            </dl>
          </header>

        </div>
      </li>
    {{ end }}
  </ul>

  {{ partial "pagination.html" . }}

{{ end }}
