{{ .Page.Store.Set "hasPswp" true }}

{{ $thumbnail := .Resources.GetMatch "masthead.*" }}
{{ $title := .Title }}

<li class="post-teaser-item post-portfolio">
  <div class="post-teaser-type-eyebrow">Portfolio</div>
  <div class="post-teaser-type icon icon-paint"></div>

  <div class="post-teaser-description">
    <h2><a  href={{ .RelPermalink }}>{{ .Title }}</a></h2>

    {{ partial "post-meta" . }}

    <div class="post-teaser-overview">
      {{ .Summary }}
    </div>

    {{/* @TODO: This is yet another copy of gallery.html ... */}}
    {{ $data := .Page.Params.images }}

    <div
      class="post-teaser-gallery pswp-container"
      data-row
      data-count="{{ len $data }}"
    >
      {{ range $item := $data }}
        {{ $base := $.Page.Resources.GetMatch $item.src }}
        {{ if $item.img }}
          {{/* Covers old Projects galleries which used "img" instead of "src" */}}
          {{ $base = $.Page.Resources.GetMatch $item.img }}
        {{ end }}
        {{ if $item.from }}
          {{ $page := $.Site.GetPage $item.from }}
          {{ $base = $page.Resources.GetMatch $item.src }}
        {{ end }}
        {{ with $base }}
          {{ $large := $base.Fit "1600x1600" }}
          <a
            href="{{ $large.RelPermalink }}"
            data-pswp-width="{{ $large.Width }}"
            data-pswp-height="{{ $large.Height }}"
            data-cropped="true"
            class="gallery-link"
          >
            {{ $thumbnail := $base.Fit "400x400 center" }}
            <div class="gallery-ir">
              <img
                src="{{ $thumbnail.RelPermalink }}"
                class="gallery-thumbnail"
                alt="{{ $item.alt }}"
                width="{{ $thumbnail.Width }}"
                height="{{ $thumbnail.Height }}"
                loading="lazy"
              />
            </div>
          </a>
        {{ end }}
      {{ end }}
    </div>

    {{ .Page.Params.problem | markdownify }}
  </div>
</li>
