<div class="post-meta">
  <dl>
    {{ if .Date }}
      <dt><span class="icon icon-calendar">Published</span></dt>
      <dd class="date">{{ .Date | time.Format ":date_long" }}</dd>
    {{ end }}

    {{ if .Params.citation }}
      <dt><span class="icon icon-penpaper">Appears On</span></dt>
      <dd class="citation"><a href="{{ index .Params.citation 1 }}"></a>
        {{ index .Params.citation 0 }}
      </a></dd>
    {{ end }}

    {{ if (.GetTerms "tags") }}
      <dt><span class="icon icon-tags">Tags</span></dt>
      <dd class="tags">
        <ul>
          {{ range (.GetTerms "tags") }}
            <li>{{ .LinkTitle }}</li>
          {{ end }}
        </ul>
      </dd>
    {{ end }}
  </dl>
</div>
