{{ $thumbnail := .Resources.GetMatch "thumbnail.*" }}

<li class="project-teaser-item">
  {{ if $thumbnail }}
    <a href={{ .RelPermalink }} class="project-teaser-thumbnail">
      {{ with $thumbnail }}
        {{ $320 := $thumbnail.Resize "320x320" }}
        {{ $480 := $thumbnail.Resize "480x480" }}
        {{ $600 := $thumbnail.Resize "600x600" }}
        {{ $320wp := $thumbnail.Resize "320x320 webp" }}
        {{ $480wp := $thumbnail.Resize "480x480 webp" }}
        {{ $600wp := $thumbnail.Resize "600x600 webp" }}
        {{ $ext := .RelPermalink | replaceRE `.+\.(\w{3,4})$` "$1" | safeHTML }}

        <picture>
          <source
            type="image/webp"
            sizes="(max-width: 559px) 100vw,
                   (max-width: 799px) 50vw,
                   (max-width: 959px) 35vw,
                   310px"
            srcset="{{ $320wp.RelPermalink }} 320w,
                    {{ $480wp.RelPermalink }} 480w,
                    {{ $600wp.RelPermalink }} 600w" />
          <source
            type="image/{{ $ext }}"
            sizes="(max-width: 559px) 100vw,
                   (max-width: 799px) 50vw,
                   (max-width: 959px) 35vw,
                   310px"
            srcset="{{ $320.RelPermalink }} 320w,
                    {{ $480.RelPermalink }} 480w,
                    {{ $600.RelPermalink }} 600w" />
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" />
        </picture>
      {{ end }}
    </a>
  {{ end }}

  <div class="project-teaser-description">
    <h2><a  href={{ .RelPermalink }}>{{ .Title }}</a></h2>
    {{ partial "post-meta" . }}
    {{ .Summary }}
  </div>
</li>
