<footer class="site-footer">
  <div class="site-footer-copy">
    &copy; {{ now.Year }} Taylor Smith
  </div>
  <div class="site-footer-links">
    <ul>
      <li><a href="/rss.xml" class="icon icon-rss" rel="home" type="application/rss+xml">RSS: Taylor Smith's Blog</a></li>
      <li><a href="https://linkedin.com/in/tsmith512" class="icon icon-linkedin">LinkedIn</a></li>
      <li><a href="https://github.com/tsmith512" class="icon icon-github">GitHub</a></li>
      <li><a href="https://instagram.com/tsmith512" class="icon icon-instagram">Instagram</a></li>
      <li><a href="https://facebook.com/tsmith512" class="icon icon-facebook">Facebook</a></li>
      <li><a href="https://twitter.com/tsmith512" class="icon icon-twitter">Twitter</a></li>
    </ul>
  </div>
</footer>
