<footer class="site-footer">
  <div class="site-footer-copy">
    &copy; {{ now.Year }} Taylor Smith
  </div>
  <div class="site-footer-links">
    <ul>
      <!-- @TODO: RSS?? -->
      <li><a href="/feed.xml" className="rss" rel="home" type="application/rss+xml">RSS: Taylor Smith's Blog</a></li>
      <li><a href="https://linkedin.com/in/tsmith512" className="linkedin">LinkedIn</a></li>
      <li><a href="https://github.com/tsmith512" className="github">GitHub</a></li>
      <li><a href="https://instagram.com/tsmith512" className="instagram">Instagram</a></li>
      <li><a href="https://facebook.com/tsmith512" className="facebook">Facebook</a></li>
      <li><a href="https://twitter.com/tsmith512" className="twitter">Twitter</a></li>
    </ul>
  </div>
</footer>
