<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

<link rel="canonical" href="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="description" content="{{ .Summary }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Summary }}">

{{ $thumbnail := .Resources.GetMatch "thumbnail.*" }}
{{ with $thumbnail }}
  <meta property="og:image" content="{{ .Permalink }}">
{{ end }}

<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">

<meta name="og:site_name" content="Taylor Smith">
<meta name="twitter:site" content="@tsmith512">

<link rel="dns-prefetch" href="https://cloud.typography.com/" />
<!-- @TODO: Async load this -->
<link rel="stylesheet" href="https://cloud.typography.com/6795652/7424152/css/fonts.css" />

{{ $scss := resources.Get "scss/global.scss" }}
{{ $style := $scss | resources.ToCSS }}
<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" />

{{ if not .IsHome }}
  {{ $masthead := resources.Get "scss/masthead-photography.scss" }}
  {{ $mastheadStyle := $masthead | resources.ExecuteAsTemplate "scss/masthead-photography-processed.scss" . | resources.ToCSS }}
  <!-- @TODO: That does not keep this CSS from loading and it has heavy dataURIs in it -->
  <link rel="stylesheet" type="text/css" href="{{ $mastheadStyle.RelPermalink }}" media="screen and (min-width: 720px)" />
{{ end }}

{{ $icons := resources.Get "scss/icon.scss" }}
{{ $iconStyle := $icons | resources.ExecuteAsTemplate "scss/icons.scss" . | resources.ToCSS }}
<!-- @TODO: That does not keep this CSS from loading and it has heavy dataURIs in it -->
<link rel="stylesheet" type="text/css" href="{{ $iconStyle.RelPermalink }}" />

{{ if .Page.Params.photoswipe }}
  {{ $photoswipeCss := resources.Get "vendor/photoswipe/dist/photoswipe.css" }}
  <link rel="stylesheet" type="text/css" href="{{ $photoswipeCss.RelPermalink }}" media="screen" />
{{ end }}

{{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end }}
