<!-- The main bundle is super small so it can all just go at once on all pages -->
{{ $js := resources.Match "js/*.js" | resources.Concat "js/bundle.js" | js.Build (dict "minify" true)}}
<script src="{{ $js.RelPermalink }}"></script>

<!-- Call photoswipe JS only if the page needs it -->
{{ if .Page.Params.photoswipe }}
  {{ $photoswipeJs := resources.Match "js/special/photoswipe.js" | resources.Concat "js/photoswipe.js" | js.Build (dict "minify" true)}}
  <script src="{{ $photoswipeJs.RelPermalink }}"></script>
{{ end }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20926899-1', 'auto');
  ga('send', 'pageview');
</script>

<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "124f2da099ca4db3ae89bda400724ada"}'></script>

<script defer data-domain="tsmith.com" data-api="https://tsmith.com/p/event" src="https://tsmith.com/p/script.js"></script>
