<!-- The main bundle is super small so it can all just go at once on all pages -->
{{ $js := resources.Match "js/*.js" | resources.Concat "js/bundle.js" | js.Build (dict "minify" true)}}
<script async src="{{ $js.RelPermalink }}"></script>

<!-- Call photoswipe JS only if the page needs it -->
{{ $or := or (.Page.Params.photoswipe) (.Page.Store.Get "hasPswp") }}
{{ if $or }}
  {{ $photoswipeJs := resources.Match "js/special/photoswipe.js" | resources.Concat "js/photoswipe.js" | js.Build (dict "minify" true)}}
  <script async src="{{ $photoswipeJs.RelPermalink }}"></script>
{{ end }}

{{ if .Page.Params.turnstile }}
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=turnstileInit" async defer></script>
{{ end }}

{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from '/vendor/mermaid/package/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
      startOnLoad: true,
      theme: 'neutral',
      themeVariables: {
        fontFamily: "gotham ssm a,gotham ssm b,century gothic,Helvetica,Arial,sans-serif",
      },
    });
  </script>
{{ end }}

<script async src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "124f2da099ca4db3ae89bda400724ada"}'></script>

<script async data-domain="tsmith.com" data-api="https://tsmith.com/p/event" src="https://tsmith.com/p/script.js"></script>
