.icon-calendar-light { background-image: url('png/calendar-light.png'); background-repeat: no-repeat; }

.drupal:hover, .home .drupal:hover,
.icon-drupal-blue { background-image: url('png/drupal-blue.png'); background-repeat: no-repeat; }

.drupal,
.icon-drupal-main { background-image: url('png/drupal-main.png'); background-repeat: no-repeat; }

.home .drupal,
.icon-drupal-white { background-image: url('png/drupal-white.png'); background-repeat: no-repeat; }

.facebook:hover, .home .facebook:hover,
.icon-facebook-blue { background-image: url('png/facebook-blue.png'); background-repeat: no-repeat; }

.facebook,
.icon-facebook-main { background-image: url('png/facebook-main.png'); background-repeat: no-repeat; }

.home .facebook,
.icon-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.github:hover, .home .github:hover,
.icon-github-blue { background-image: url('png/github-blue.png'); background-repeat: no-repeat; }

.github,
.icon-github-main { background-image: url('png/github-main.png'); background-repeat: no-repeat; }

.home .github,
.icon-github-white { background-image: url('png/github-white.png'); background-repeat: no-repeat; }

.icon-globe-light { background-image: url('png/globe-light.png'); background-repeat: no-repeat; }

.instagram:hover, .home .instagram:hover,
.icon-instagram-blue { background-image: url('png/instagram-blue.png'); background-repeat: no-repeat; }

.instagram,
.icon-instagram-main { background-image: url('png/instagram-main.png'); background-repeat: no-repeat; }

.home .instagram,
.icon-instagram-white { background-image: url('png/instagram-white.png'); background-repeat: no-repeat; }

.linkedin:hover, .home .linkedin:hover,
.icon-linkedin-blue { background-image: url('png/linkedin-blue.png'); background-repeat: no-repeat; }

.linkedin,
.icon-linkedin-main { background-image: url('png/linkedin-main.png'); background-repeat: no-repeat; }

.home .linkedin,
.icon-linkedin-white { background-image: url('png/linkedin-white.png'); background-repeat: no-repeat; }

.icon-penpaper-light { background-image: url('png/penpaper-light.png'); background-repeat: no-repeat; }

.icon-photos-blue { background-image: url('png/photos-blue.png'); background-repeat: no-repeat; }

.icon-photos-main { background-image: url('png/photos-main.png'); background-repeat: no-repeat; }

.icon-photos-white { background-image: url('png/photos-white.png'); background-repeat: no-repeat; }

.icon-quote-light { background-image: url('png/quote-light.png'); background-repeat: no-repeat; }

.rss:hover, .home .rss:hover,
.icon-rss-blue { background-image: url('png/rss-blue.png'); background-repeat: no-repeat; }

.rss,
.icon-rss-main { background-image: url('png/rss-main.png'); background-repeat: no-repeat; }

.home .rss,
.icon-rss-white { background-image: url('png/rss-white.png'); background-repeat: no-repeat; }

.icon-tags-light { background-image: url('png/tags-light.png'); background-repeat: no-repeat; }

.twitter:hover, .home .twitter:hover,
.icon-twitter-blue { background-image: url('png/twitter-blue.png'); background-repeat: no-repeat; }

.twitter,
.icon-twitter-main { background-image: url('png/twitter-main.png'); background-repeat: no-repeat; }

.home .twitter,
.icon-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

