---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.classes %}{{ page.classes }}{% else %}layout-{{ page.layout }}{% endif %}">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}


    {% if page.photoswipe %}
      {% include photoswipe-container.html %}
    {% endif %}

    <script defer src="/js/all.js"></script>
    {% if page.highlighting %}
    <script>document.addEventListener("DOMContentLoaded", function(event) {loadCSS('/css/code.css');});</script>
    {% endif %}

    {% if page.photoswipe %}
      <script defer src="/js/photoswipe.all.js"></script>
    {% endif %}

    {% include google-analytics.html %}

    {% if page.commenting %}
      <script>
        var disqus_config = function () {
          this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
          this.page.identifier = "{{ page.id }}";
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://tsmithcreative.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
    {% endif %}
    <script src="https://widget.battleforthenet.com/widget.js" async></script>
  </body>

</html>
