---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.classes %}{{ page.classes }}{% else %}layout-{{ page.layout }}{% endif %}">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}


    {% if page.photoswipe %}
      {% include photoswipe-container.html %}
    {% endif %}

    <script defer src="/js/all.js"></script>
    {% if page.highlighting %}
    <script>document.addEventListener("DOMContentLoaded", function(event) {loadCSS('/css/code.css');});</script>
    {% endif %}

    {% if page.photoswipe %}
      <script defer src="/js/photoswipe.all.js"></script>
    {% endif %}

    {% include google-analytics.html %}

  </body>

</html>
