---
layout: page
---
<article class="post">
  <header class="post-meta">
    <dl>
      <dt><span class="icon icon-calendar-light">Published</span></dt>
      <dd class="date">{{ page.date | date: "%B %e, %Y"}}</dd>
      <dt><span class="icon icon-tags-light">Tags</span></dt>
      <dd class="tags">
        <ul>
          {% for tag in page.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </header>

  <section class="summary">
    {{ page.summary }}
  </section>

  {{ content }}
</article>
