---
layout: detail
---
<div class="project">

  {% if page.images %}
    <div class="gallery project-gallery">
      <ul>
        {% for image in page.images %}
          <li>
            <a href="{{ image.img }}" title="{{ image.title }}" data-size="{{ image.width }}x{{ image.height }}">
              <img src="{{ image.img | replace: "assets", "gfx/thumbs" }}" alt="{{ image.alt }}" width="200" height="200">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="project-write-up">
    {{ content | fix_hr }}
  </div>
</div>
