{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $src := .Get "src" }}
{{ $from := .Get "from" }}

{{ $type := default "image" (.Get "type") }}
{{ $size := default "default" (.Get "size") }}
{{ $noshadow := default "shadow" (.Get "noshadow") }}

{{ $containerClasses := slice "media" "pswp-container" }}
{{ $contentWidths := dict "default" 960 "small" 720 "mini" 480 }}
{{ $generateWidth := default 960 (index $contentWidths $size) }}

{{ $sizesAttrribute := ""}}
{{ $generateSizes := slice $generateWidth }}

{{ if eq $size "default" }}
  {{ $containerClasses = $containerClasses | append "default" }}
  {{ $sizesAttrribute = "(max-width: 680px) 100vw, (max-width: 975px) 680px, 960px"}}
  {{ $generateSizes = $generateSizes | append slice 680 480 }}
{{ end }}

{{ if eq $size "small" }}
  {{ $sizesAttrribute = "(max-width: 680px) 100vw, 680px"}}
  {{ $generateSizes = $generateSizes | append slice 480 }}
{{ end }}

{{ if eq $size "mini" }}
  {{ $sizesAttrribute = "(max-width: 480px) 100vw, 480px"}}
{{ end }}

{{ if eq $type "frame" }}
  {{ $noshadow = "noshadow" }}
{{ end }}

{{ $mediaClasses := slice $size $noshadow }}

{{ if eq $type "placeholder" }}
  {{ $from = "2020-02-07-finding-next"}}
  {{ $src = "terlingua-road.jpg" }}
  {{ $type = "image" }}
{{ end }}

<figure class="{{ delimit $containerClasses " " }}">
  {{ if eq $type "image"}}
    {{ $image := $.Page.Resources.GetMatch $src }}

    <!-- If pulling an image from another post... -->
    {{ if $from }}
      {{ $page := $.Site.GetPage $from }}
      {{ $image = $page.Resources.GetMatch $src }}
    {{ end }}

    <!-- Link to original image, display a preview size... -->
    {{ with $image }}
      <a
        href="{{ .RelPermalink }}"
        data-pswp-width="{{ .Width }}"
        data-pswp-height="{{ .Height }}"
      >
        {{ $preview := $image.Fit (printf "%dx%d" $generateWidth $generateWidth) }}
        {{ $previewwp := $image.Fit (printf "%dx%d webp" $generateWidth $generateWidth) }}

        <!-- @TODO: GenerateSizes for alternates -->
        <picture>
          <source
            type="image/webp"
            sizes="{{ $sizesAttrribute }}"
            srcset="{{ $previewwp.RelPermalink }} {{ $previewwp.Width }}w"
            />
          <img
            src="{{ $preview.RelPermalink }}"
            class="{{ delimit $mediaClasses " " }}"
            alt="{{ $alt }}"
            width="{{ $preview.Width }}"
            height="{{ $preview.Height }}"
            loading="lazy"
          />
        </picture>
      </a>
    {{ end }}
  {{ end }}
  {{ if eq $type "url" }}
    <img
      src="{{ $src }}"
      class="{{ delimit $mediaClasses " " }}"
      alt="{{ $alt }}"
      loading="lazy"
    />
  {{ end }}
  {{ if eq $type "frame" }}
    <div class="browser-frame">
      <div class="browser-frame-header">
        <div class="left"></div>
        <div class="fill"></div>
        <div class="right"></div>
      </div>
      <div class="browser-frame-content">
        {{ $image := $.Page.Resources.GetMatch $src }}
        {{ if $from }}
          {{ $page := $.Site.GetPage $from }}
          {{ $image = $page.Resources.GetMatch $src }}
        {{ end }}
        {{ with $image }}
          <img
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
            class="{{ $noshadow }}"
            alt="{{ $alt }}"
            loading="lazy"
          />
        {{ end }}

      </div>
    </div>
  {{ end }}
  {{ if $caption }}
    <figcaption>{{ $caption }}</figcaption>
  {{ end }}
</figure>
