{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $src := .Get "src" }}

{{ $type := default "image" (.Get "type") }}
{{ $size := default "default" (.Get "size") }}
{{ $noshadow := default "shadow" (.Get "noshadow") }}

{{ $containerClasses := slice "media" "pswp-container" }}
{{ if eq $size "default" }}
  {{ $containerClasses = $containerClasses | append "default" }}
{{ end }}

{{ $mediaClasses := slice $size $noshadow }}

<figure class="{{ delimit $containerClasses " " }}">
  {{ if eq $type "image"}}
    {{ $image := $.Page.Resources.GetMatch $src }}
    {{ with $image }}
      <a
        href="{{ .RelPermalink }}"
        data-pswp-width="{{ .Width }}"
        data-pswp-height="{{ .Height }}"
        data-cropped="true"
      >
        <img src="{{ .RelPermalink }}" class="{{ delimit $mediaClasses " " }}" alt="{{ $alt }}" width="{{ .Width }}" height="{{ .Height }}" />
      </a>
    {{ end }}
  {{ end }}
  {{ if $caption }}
    <figcaption>{{ $caption }}</figcaption>
  {{ end }}
</figure>
